// Custom overrides for default font sizes
$type-size-1: 1em; // h1
$type-size-2: 0.9em; // h2
$type-size-3: 0.8em; // h3
$type-size-4: 0.7em; // h4
$type-size-5: 0.6em; // h5
$type-size-6: 0.5em; // h6
$type-size-7: 0.4em; // Body text and everything else
